/* Styling to complete body  */
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(221, 211, 211);
  font-family: 'Lobster', cursive;
  color: white;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);}

/* Styling used in h1 tag to display name of App */
.heading {
  color: rgb(0, 0, 0);
  margin-top: 13px;
  font-size: 25px;
  font-family: 'work-sans';
  word-spacing: 5px;
}
.line{
  margin-top: 20px;
}

/* Styling for the calculator body  */
.maindiv {
  margin-top: 80px;
  align-items: center;
  background-color: white;
  color: black;
  width: 350px;
  padding: 20px;
  border-radius: 25px;
  align-content: center;
  /* height: 500px; */
  font-size: 23px;
  box-shadow: rgba(0, 0, 0, 0.541) 0px 54px 55px, rgba(0, 0, 0, 0.541) 0px -12px 30px, rgba(0, 0, 0, 0.541) 0px 4px 6px, rgba(0, 0, 0, 0.541) 0px 12px 13px, rgba(0, 0, 0, 0.541) 0px -3px 5px;
}
.input{
  margin-top: 30px;
}

.click {
  background-color: aqua;
  width: 10rem;
  padding: 0.35rem 0 ;
  margin:0.5rem 0;
  border-radius: 0.35rem;
}
.click:hover{
  background-color: #6468df;
  box-shadow:2px 5px #7eace3;
  color:white;
}


.copyright {
  text-align: center;

  margin: 10px;
}
.btn{
  display: flex;
  margin: 5px;
  padding: 10px;
  padding-right: 5px;
}
#principal{
  border-radius: 4px;
  height: 20px;
  border-color: blueviolet;
}
#years{
  height: 20px;

}
.img{
  height:100px;
  width:140px;
  float:left;
  margin-left: -660px;
  margin-top: -220px;
}

button {
  background-color: aqua;
  padding: 5px;
  margin-top: 10px;
}
